body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.button {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Стили для фильтра на странице с отелями*/
.filter {
  box-sizing: border-box;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 33px;
  padding-left: 73px;
  padding-right: 73px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  background-color: #6a91b6;
  background-image: url("../img/filter-background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.filters-services {
  width: 240px;
  display: flex;
  flex-direction: column;

  margin-top: 25px;
  margin-left: 50px;
}

.filters-type-housing {
  width: 240px;
  display: flex;
  flex-direction: column;

  margin-top: 25px;
  margin-left: 50px;
}

.filter-option {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter-option label {
  position: relative;
  padding-left: 40px;

  cursor: pointer;
}

.filter-option label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}
/*
  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
  }
*/
.filters fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Конец Стили для фильтра на странице с отелями*/

/*Стили для сложного фильтра */
.filter-range {
  width: 328px;

  color: #ffffff;
  text-transform: uppercase;
}

.filters-title {
  margin-bottom: 7px;
  margin-top: 3px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

/* Конец Стили для сложного фильтра */

/* Стили для сортировки на странице с отелями*/
.sorting {
  padding-top: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #fefefe;
}

.sorting-list {
  width: 750px;
  min-height: 22px;
  margin-left: 10px;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.sorting-result {
  margin-left: 75px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting-item {
  margin-left: 31px;
}

.sorting h3 {
  margin-left: 49px;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list,
.hotels-list {
  list-style: none;
}

.sorting-list li {
  font-size: 12px;
  line-height: 18px;

  border-bottom: 1px dotted #81b3d2;
}

.sorting-button li {
  list-style: none;
}

.sorting-button {
  width: 60px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sorting-button-up {
  margin-left: 23px;
  display: flex;

  width: 11px;
  height: 10px;
}

.sorting-button-down {
  margin-left: 12px;
  display: flex;

  width: 11px;
  height: 10px;
}

.sorting-button-up path,
.sorting-button-down path {
  fill: #d0d0d0;
}

.sorting-button-up:active path,
.sorting-button-down:active path {
  fill: #87b6d4;
}
/* Конец Стили для сортировки на странице с отелями*/

/* Стили для блока с отелями на странице с отелями*/

.hotels-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  background-color: #fefefe;
}

.hotels-item {
  margin: 0;

  padding-top: 30px;
  margin-right: 73px;
  padding-bottom: 30px;
  padding-left: 73px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-top: 1px solid #f9f9f9;
}

.hotels-link h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.rating-wrapp {
  box-sizing: border-box;
  width: 240px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hotels-photo {
  margin: 0;
  padding: 0;
  order: -1;
  width: 135px;
  height: 90px;
}

.hotels-rating {
  width: 90px;

  padding: 5px 10px;

  text-align: center;
}

.button-info {
  padding: 6px 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #81b3d2;
}

.button-reserve {
  padding: 6px 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #766357;
}

.button-info:hover,
.button-info:focus {
  background-color: #669ec0;
}

.button-info:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: #604e43;
}

.button-reserve:active {
  color: #857871;

  background-color: #503e33;
}

.hotels-rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}

.hotels-type,
.hotels-link {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.hotels-link h3:hover,
.hotels-link h3:focus {
  color: #aacce1;
}

.hotels-link h3:active {
  color: #c5c5c5;
}

.stars-4 {
  width: 18px;
  height: 17px;

  display: flex;

  background-image: url("../img/star.svg");
}

.stars-3 {
  width: 18px;
  height: 17px;

  display: flex;

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}

.stars-2 {
  width: 18px;
  height: 17px;

  display: flex;

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}
/* Конец Стили для блока с отелями на странице с отелями*/

/* Стили для шапки*/
.main-header {
  background-color: #ffffff;
}

.main-header-logo,
.main-header-logo-catalog {
  margin-top: -1px;

  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation {
  min-height: 56px;
  display: flex;
  flex-direction: column;
  padding-left: 73px;
  padding-right: 73px;
}

.site-navigation {
  width: 1055px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

  font-weight: 700;
  color: #000000;

  list-style: none;
}

.site-navigation li {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 15px;
  width: 128px;
}

.site-navigation li:nth-child(2),
.site-navigation li:nth-child(6),
.site-navigation li:nth-child(10) {
  margin-right: 314px;
  margin-left: 114px;
}

.site-navigation li:nth-child(4),
.site-navigation li:nth-child(8),
.site-navigation li:nth-child(12) {
  margin-left: 114px;
}

.navigation-info,
.navigation-foto-video {
  text-align: left;
}

.navigation-map,
.navigation-hotels {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}
/* Конец Стили для шапки */

/* Стили для приветсвия на главной*/

.greeting {
  width: 1200px;
  min-height: 660px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: #ddebf4;
  background-image: url("../img/background-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.greeting-welcome {
  position: relative;
  padding-top: 77px;
}

.greeting-mask {
  display: block;
  position: absolute;
  top: 53.5%;
}

.intro-wrapp {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  width: 1200px;
  min-height: 216px;
  margin-top: -153px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

.intro-text-wrapp {
  width: 576px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-headline {
  margin-top: 22px;
  text-align: center;
}

.intro-headline {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

/* Конец Стили для приветсвия на главной*/

/* Стили для основного содержания главной страницы*/
.advantages {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-item-photo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages-city-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 37px;
  padding-left: 73px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

.advantages-city-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.advantages span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantages p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantages-item-text {
  box-sizing: border-box;

  padding-right: 46px;
  padding-bottom: 13px;
  padding-left: 46px;
  width: 33.332%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background-color: #81b3d2;
}

.advantages-item-text h3 {
  margin-top: 14px;
}

.advantages-item-text span {
  margin-top: 2px;
}

.advantages-item-text p {
  margin-top: 21px;
}
.advantages-item-grey {
  box-sizing: border-box;

  padding-top: 22px;
  padding-right: 61px;
  padding-bottom: 45px;
  padding-left: 61px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: #eeeeee;
}

.advantages-item-grey h3 {
  margin-top: 25px;
}

.advantages-item-grey span {
  margin-top: 2px;
}

.advantages-item-grey p {
  margin-top: 22px;
}

.advantages-canyon-foto {
  order: -1;
}

.advantages-item-grey,
.advantages-city-item {
  width: 33.332%;
}

.advantages,
.advantages-city-list {
  list-style: none;
}

.advantages-item,
.advantages-item-photo {
  text-align: center;
}

.advantages-item h3,
.advantages-item-photo h3,
.advantages-item-grey h3 {
  font-size: 21px;
  line-height: 21px;
}

.advantages-item-text span,
.advantages-item-text p {
  color: #ffffff;
}

.advantages-city-foto,
.advantages-canyon-foto {
  padding: 0;
  margin: 0;
  width: 800px;
  height: 256px;

  background-color: #f0c5ae;
}

.logo-house::before {
  content: "";
  width: 75px;
  height: 72px;
  margin-bottom: 25px;

  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}

.logo-food::before {
  content: "";
  width: 74px;
  height: 70px;
  margin-bottom: 25px;

  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
}

.logo-souvenirs::before {
  content: "";
  width: 64px;
  height: 76px;
  margin-bottom: 25px;

  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
}
/* Конец Стили для основного содержания главной страницы*/

/* Стили для кнопки поиска на главной странице*/
.buttton-search {
  width: 568px;
  height: 86px;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;

  background-color: #766357;
}

.buttton-search:hover,
.buttton-search:focus {
  background-color: #604e43;
}

.buttton-search:active {
  color: #857871;
  background-color: #503e33;
}

.button-search-find {
  width: 458px;
  height: 58px;
  margin-top: 50px;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-search-find:hover,
.button-search-find:focus {
  background-color: #669ec0;
}

.button-search-find:active {
  color: #88b6d1;
  background-color: #5496bd;
}
/*Конец Стили для кнопки поиска на главной странице*/

/* Стили для формы поиска на главной странице*/
.search {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

.search-title {
  margin-top: 51px;
}

.search-text {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 47px;
}

.search b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

/*  Сплывающая форма  */
.form-search {
  box-sizing: border-box;

  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
  width: 568px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.search input[type="text"] {
  font: inherit;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.number-people,
.number-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input:hover {
  background-color: #ebebeb;
}

.search input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.search .button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.search label {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.check-in-calendar svg path,
.check-out-calendar svg path {
  fill: #b7b7b7;
}

.check-in-calendar:hover svg path,
.check-out-calendar:hover svg path,
.check-in-calendar:focus svg path,
.check-out-calendar:focus svg path {
  fill: #292929;
}

.check-in-calendar:active svg path,
.check-out-calendar:active svg path {
  fill: #95bfd9;
}

.search-item input {
  width: 346px;
  border: none;
}

.search {
  position: relative;
}

.check-in-calendar {
  position: absolute;
  top: 76px;
  left: 480px;

  width: 21px;
  height: 22px;
}

.check-out-calendar {
  position: absolute;
  top: 132px;
  left: 480px;

  width: 21px;
  height: 22px;
}

.number-child {
  margin-left: 55px;
}

.number-child .child-less {
  margin-left: 20px;
}

.check-in input {
  margin-left: 17px;
}

.check-out input {
  margin-left: 14px;
}

.number-people input,
.number-child input {
  width: 38px;
  min-height: 36px;
  border: none;
}

.button.people-less {
  margin-left: 40px;
}

.button.people-less,
.button.child-less,
.button.people-more,
.button.child-more {
  position: relative;
  width: 38px;
  min-height: 38px;

  background-color: #f2f2f2;
}

.button.people-less::after,
.button.child-less::after {
  content: "";
  display: block;
  position: absolute;
  left: 40%;

  width: 12px;
  height: 3px;

  background-color: #b7b7b7;
}

.button.people-less:hover::after,
.button.child-less:hover::after,
.button.people-less:focus::after,
.button.child-less:focus::after {
  background-color: #292929;
}

.button.people-less:active::after,
.button.child-less:active::after {
  background-color: #95bfd9;
}

.button.people-more::after,
.button.child-more::after {
  content: "";
  display: block;
  position: absolute;
  left: 30%;

  width: 11px;
  height: 3px;

  background-color: #b7b7b7;
}

.button.people-more::before,
.button.child-more::before {
  content: "";
  display: block;
  position: absolute;
  left: 30%;

  width: 11px;
  height: 3px;
  transform: rotate(90deg);

  background-color: #b7b7b7;
}

.button.people-more:hover::after,
.button.child-more:hover::after,
.button.people-more:hover::before,
.button.child-more:hover::before {
  background-color: #292929;
}

.button.people-more:focus::after,
.button.child-more:focus::after,
.button.people-more:focus::before,
.button.child-more:focus::before {
  background-color: #292929;
}

.button.people-more:active::after,
.button.child-more:active::after,
.button.people-more:active::before,
.button.child-more:active::before {
  background-color: #95bfd9;
}

/* Конец Стили для формы поиска на главной странице*/

/* Стили для карты на главной*/
.map {
  background-color: #f2f1ef;
}

.map p {
  margin: 0;
  padding: 0;
}
/* Конец Стили для карты на главной*/

/* Стили для подвала на главной*/
.main-footer,
.main-footer-calalog {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  background-color: #fefefe;
}

.main-footer {
  position: relative;
  margin-top: -127px;
  background-color: rgba(249, 251, 246, 0.9);
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-social {
  margin-top: 22px;
  margin-bottom: 35px;
  width: 400px;
}

.footer-copyright {
  width: 240px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 73px;
  margin-right: 88px;
}

.logo-svg {
  margin-left: 5px;
}

.footer-contact {
  margin-left: 133px;
  margin-right: 137px;
  display: flex;
  align-items: center;

  width: 240px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  color: #000000;
}

.footer-item {
  margin-left: 5px;
}

.social-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg path {
  fill: #88b5d1;
}

.logo-svg:hover path,
.logo-svg:focus path {
  fill: #82b3d2;
}

.logo-svg:active path {
  fill: #bdbbbc;
}

/* Конец Стили для подвала на главной*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
