body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.filter {
  background-color: #6a91b6;
  background-image: url("../img/filter-background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.filters fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter ul {
  list-style: none;
}

.filter-option {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter-option label::before {
  content: open-quote;
  background-color: #ffffff;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.sorting-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list,
.hotels-list {
  list-style: none;
}

.sorting-list li {
  font-size: 12px;
  line-height: 18px;

  border-bottom: 1px dotted #81b3d2;
}

.sorting-button li {
  list-style: none;
}

.sorting-button-up {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.button-show {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-scale-item {
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
}

.number-max,
.number-min {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.price label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.button {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.button-info {
  background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
  background-color: #669ec0;
}

.button-info:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.button-reserve {
  background-color: #766357;
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: #604e43;
}

.button-reserve:active {
  color: #857871;

  background-color: #503e33;
}

.hotels-rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}

.hotels-link h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-type,
.hotels-link {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.main-navigation {
  display: flex;
  flex-direction: column;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-header-logo {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.intro-wrapp {
  display: flex;
  flex-direction: column;
}

.greeting {
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.advantages-item-photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages-city-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.advantages-city-item {
  width: 400px;
  margin-top: 60px;
  margin-bottom: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-item-grey,
.advantages-city-item {
  width: 33.332%;
}

.search {
  display: flex;
  flex-direction: column;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-social-list {
  width: 400px;
  display: flex;
  justify-content: center;
}

.footer-item-twitter {
  margin-right: 5px;
}

.footer-item-youtube {
  margin-left: 5px;
}

.footer-contact {
  width: 240px;
}

.footer-social {
  width: 400px;
}

.footer-copyright {
  width: 240px;
}

a {
  text-decoration: none;
}

.site-navigation li {
  width: 130px;
}

.navigation-info,
.navigation-foto-video {
  text-align: left;
}

.navigation-map,
.navigation-hotels {
  text-align: right;
}

.site-navigation {
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.intro-headline {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.greeting {
  background-color: #ddebf4;
  background-image: url("../img/background-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.advantages,
.advantages-city-list {
  list-style: none;
}

.advantages-item,
.advantages-item-photo {
  text-align: center;
}

.advantages-item h3,
.advantages-item-photo h3,
.advantages-item-grey h3 {
  font-size: 21px;
  line-height: 21px;
}

.advantages span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantages p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantages-city-list {
  background-color: #ffffff;
}

.advantages-item-text {
  width: 33.332%;
  color: #ffffff;

  background-color: #81b3d2;
}

.advantages-item-text span,
.advantages-item-text p {
  color: #ffffff;
}

.advantages-item-grey {
  text-align: center;

  background-color: #eeeeee;
}

.advantages-city-foto,
.advantages-canyon-foto {
  background-color: #f0c5ae;
}

.advantages-logo-house {
  width: 75px;
  height: 72px;

  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}

.advantages-logo-food {
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
}

.advantages-logo-souvenirs {
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
}

.search b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.buttton-search {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;

  background-color: #766357;
}

.buttton-search:hover,
.buttton-search:focus {
  background-color: #604e43;
}

.buttton-search:active {
  background-color: #503e33;
}

.button-search-find {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;

  background-color: #81b3d2;
}

.button-search-find:hover,
.button-search-find:focus {
  background-color: #669ec0;
}

.button-search-find:active {
  background-color: #5496bd;
}

.search input[type="text"] {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.search input:hover {
  background-color: #ebebeb;
}

.search input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.map {
  background-color: #f2f1ef;
}

.main-footer {
  background-color: #f9fbf5;
}

.footer-contact {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  color: #000000;
}

.social-button svg {
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover svg,
.social-button:focus svg {
  background-color: #669ec0;
}

.social-button:active svg {
  background-color: #5496bd;
}

.social-button:active svg path {
  fill: #88b5d1;
}

.logo-svg:hover path,
.logo-svg:focus path {
  fill: #81b3d2;
}

.logo-svg:active path {
  fill: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
